<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Try it again?{{else}}Devour it!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Yuck, delete</button>
</li>